body {
  font-family: "roboto";
  padding: 20px;
  position: static;
}

.weather-app-wrapper {
  max-width: 510px;
  margin: 30px auto;
}

#weatherApp {
  border: 1px solid #dadde1;
  height: 225px;
  padding: 20px auto;
}
.form-control {
  height: 38px;
  width: 224px;
  border-color: #dadde1;
}
#search-button {
  position: relative;
  left: 255px;
  top: -37px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}
#current {
  position: relative;
  right: -380px;
  top: -91px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  background-color: #218838;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #70757a;
  margin: 0;
  padding: 0;
}

.country {
  font-size: 24px;
  position: relative;
  top: -110px;
  margin-bottom: 0;
}
.day {
  position: relative;
  top: -110px;
}
.weather {
  position: relative;
  top: -115px;
}
.temp {
  color: black;
  position: relative;
  font-weight: 900px;
  font-size: 64px;
  top: -120px;
  left: 0px;
}
.cf {
  color: black;
  font-size: 25px;
  position: relative;
  top: -200px;
  left: 75px;
}
sup {
  color: black;
  text-decoration-color: #ffffff;
}

#day-input,
#time-input,
#hour-input,
#minutes-input,
#colon,
#line {
  color: #70757a;
  text-decoration: none;
}
.humidity {
  position: relative;
  top: -320px;
  left: 250px;
}
.wind {
  position: relative;
  top: -320px;
  left: 250px;
}

#icon {
  color: #f49d26;
  font-size: 58px;
  position: relative;
  left: 110px;
  top: -240px;
}
